<!-- <ion-view title="Ionic Basic Spark" hide-nav-bar="true">
  <ion-content class="padding"> -->
<ion-side-menus>


	<ion-pane ion-side-menu-content>
    <ion-nav-bar animation="nav-title-slide-ios7"
	    type="bar-positive"
	    left-buttons="leftButtons"
	    back-button-type="button-icon"
	    back-button-icon="ion-arrow-left-c"></ion-nav-bar>
	  <ion-nav-view name="menu-content"></ion-nav-view>
	</ion-pane>

  <ion-side-menu side="left">
      <ion-content>
        <div class="list">
          <a href="/#/main/tab/dash" class="item item-icon-left">
            <i class="icon ion-ios7-home"></i>
            Dashboard
          </a>
          <a href="/#/main/tab/accounts" class="item item-icon-left">
            <i class="icon ion-ios7-person-outline"></i>
            Accounts
          </a>
          <a href="/#/main/tab/cores" class="item item-icon-left">
            <i class="icon ion-ios7-bolt"></i>
            Cores
          </a>
          <a href="/#/main/tab/listeners" class="item item-icon-left">
            <i class="icon ion-mic-a"></i>
            Listeners
          </a>
          <a href="/#/main/tab/settings" class="item item-icon-left">
            <i class="icon ion-ios7-gear"></i>
            Settings
          </a>
          <a href="/#/main/tab/about" class="item item-icon-left">
            <i class="icon ion-help-circled"></i>
            About
          </a>
	  	</div>
  	</ion-content>
  </ion-side-menu>

</ion-side-menus>