<ion-view title="About">

  <ion-header-bar class="bar-calm">
    <h1 class="title">Hello Ladies!</h1>
  </ion-header-bar>

  <ion-content class="padding">

  	<div class="card">
	  <div class="item item-text-wrap">
	    <iframe width="100%" height="315" src="https://www.youtube.com/embed/2dnT3hIBRgc" frameborder="0" allowfullscreen></iframe>
	  </div>
	</div>


   <div class="list">

   	<a class="item item-icon-left" href="http://emc2innovation.com?src=hello-ladies" target="_blank">
		<i class="icon ion-ios7-person"></i>
		Author <span class="item-note">Eric McNiece</span>
	</a>
	<a class="item item-icon-left" href="https://github.com/emcniece/ionic-basic-spark" target="_blank">
		<i class="icon ion-social-github"></i>
		Repository <span class="item-note">https://github.com/emcniece/hello-ladies</span>
	</a>

	<a class="item item-icon-left energized" href="http://emc2innovation.com/donations/" target="_blank">
		<i class="icon ion-beer"></i>
		Donate <span class="item-note">I'll toast you on Twitter!</span>
	</a>

   </div>

  </ion-content>
</ion-view>
